*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
    color: black;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html{
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
}
.nav-links{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
}

.hero{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.hero h1, .hero p {
    margin-bottom: 8px;
}
.hero h1{
    font-size: 48px;
    line-height: 1;
}

.hero-img{
    margin-right: 20px;
    padding-top: 60px;
}

.hero-img img{
    height: 500px;
}

.hero p{
    color: #4b5563;
}

button{
    border: solid 1px black;
    border-radius: 6px;
    width: 128px;
    padding: 8px 0px;
    background: white;
    font-size: 14px;
    color: black;
}

button:hover{
    cursor: pointer;
}

.work h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
p{
    font-size: 14px;
    line-height: 20px;
}
.work p{
    color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.work-subtitle{
    color: #6b7280;
    padding: 0px 20px 5px 50px;
    max-width: 896px;
    margin: 0 auto;
    text-align: center;
}

.white{
    margin-top: 5px;
    transition: 0.3s;
}

.white:hover{
    border-radius: 12px;
    transition: 0.3s;
}

.chips-wrapper{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 8px 0px;
    padding: 0px 12px;
}

.chip{
    border-radius: 9999px;
    padding: 4px 12px;
    border: solid 1px black;
    font-size: 14px;
}

#react{
    border-color: #61dbfb;
}
#firebase{
    border-color: #f5820d;
}
#npm{
    border-color: #cc3534;
}
#mongo-db{
    border-color: #3fa037;
}
#javascript{
    border-color: #f0db4f;
}
#typescript{
    border-color: #007acc;
}
#html{
    border-color: #e34c26;
}
#css{
    border-color: #2965f1;
}

@media screen and (max-width: 1024px) {
    .hero{
        flex-direction: column;
        padding: 12px 20px;
        margin-top: 20px;
    }
    .hero h1{
        font-size: 36px;
        line-height: 40px;
    }
    .hero-img img{
        height: 420px;
    }
}

@media screen and (max-width: 724px) {
    .hero{
        min-height: unset;
        margin-bottom: 40px;
    }
    .hero h1{
        font-size: 24px;
        line-height: 32px;
    }
    .hero-img img{
        height: min(60vh, 360px);
    }
}