*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.nav-links{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
}

.kahp{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.kahp-img img{
    height: 500px;
}

